body {
    font-family: "Arial", "Malgun Gothic", sans-serif;
    background:#eef3f8;
    margin:0;
}

.container {
    width:90%;
    max-width:800px;
    margin:30px auto;
    text-align:center;
}

h1 {
    color:#1565c0;
    font-size:32px;
    margin-bottom:5px;
}

h3 {
    color:#555;
    margin-top:0;
}
/* 데이터 정보 */

#info {
    background:white;
    padding:15px;
    border-radius:15px;
    margin:20px 0;
    box-shadow:0 3px 8px rgba(0,0,0,0.1);
}
/* 버튼 영역 */

.menu {
    display:flex;
    flex-direction:column;
    align-items:center;
}

.menu button {
    width:90%;
    max-width:400px;
    padding:16px;
    margin:8px;
    font-size:16px;
    font-weight:bold;
    border:none;
    border-radius:12px;
    background:#1976d2;
    color:white;
    cursor:pointer;
    transition:0.2s;
}

.menu button:hover {
    background:#0d47a1;
    transform:scale(1.03);
}
/* 결과 영역 */
#result {
    margin-top:30px;
    padding:25px;
    background:white;
    border-radius:15px;
    min-height:180px;
    box-shadow:0 3px 10px rgba(0,0,0,0.12);
    font-size:18px;
}

.logo-header{
    text-align:center;
    margin-top:20px;
}

.lotto-logo{
    width:120px;
    height:auto;
}

.lotto-ball{
    display:inline-flex;
    justify-content:center;
    align-items:center;

    width:36px;
    height:36px;

    border-radius:50%;

    background:#f5c400;
    color:white;

    font-weight:bold;
    font-size:12px;

    margin:1px;

    box-shadow:
    0 3px 6px rgba(0,0,0,0.3);
}

.ball-yellow{
    background:#fbc400;
}

.ball-blue{
    background:#1877d2;
}

.ball-red{
    background:#e53935;
}

.ball-gray{
    background:#777;
}

.ball-green{
    background:#2e8b57;
}